@import "tailwindcss";

:root {
    --light-background: theme(--color-stone-50);
    --light-foreground: #0a0a0a;
    --light-primary: #18181b;
    --light-secondary: theme(--color-slate-200);
    --light-accent: theme(--color-blue-500);
    --light-skill-background: theme(--color-blue-100);
    --light-skill-foreground: theme(--color-blue-500);

    --dark-background: theme(--color-slate-900);
    --dark-foreground: #fafafa;
    --dark-primary: #fafafa;
    --dark-secondary: theme(--color-slate-800);
    --dark-accent: theme(--color-blue-300);
    --dark-skill-background: theme(--color-blue-950);
    --dark-skill-foreground: var(--dark-accent);

    /* Light theme colors */
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --primary: var(--light-primary);
    --secondary: var(--light-secondary);
    --accent: var(--light-accent);
    --skill-background: var(--light-skill-background);
    --skill-foreground: var(--light-skill-foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme colors */
        --background: var(--dark-background);
        --foreground: var(--dark-foreground);
        --primary: var(--dark-primary);
        --secondary: var(--dark-secondary);
        --accent: var(--dark-accent);
        --skill-background: var(--dark-skill-background);
        --skill-foreground: var(--dark-skill-foreground);
    }
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-skill-background: var(--skill-background);
    --color-skill-foreground: var(--skill-foreground);
}

/* Manual theme toggle support */
[data-theme="light"] {
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --primary: var(--light-primary);
    --secondary: var(--light-secondary);
    --accent: var(--light-accent);
    --skill-background: var(--light-skill-background);
    --skill-foreground: var(--light-skill-foreground);
}

[data-theme="dark"] {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --primary: var(--dark-primary);
    --secondary: var(--dark-secondary);
    --accent: var(--dark-accent);
    --skill-background: var(--dark-skill-background);
    --skill-foreground: var(--dark-skill-foreground);
}

body {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
